body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
}

circle {
	fill: #ddd;
}

circle.selected {
  fill: orange;
	stroke: #555;
	stroke-width: 2px;
}

g.item text {
	fill: #ddd;
	font-size: 70px;
	text-anchor: middle;
	font-weight: bold;
}
