<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="https://d3js.org/d3-hierarchy.v1.min.js"></script> -->
<script>
var tree = {
    name: "tree",
    children: [
        { name: "Word-wrapping comes for free in HTML", size: 16000 },
        { name: "animate makes things fun", size: 8000 },
        { name: "data data everywhere...", size: 5220 },
        { name: "display something beautiful", size: 3623 },
        { name: "flex your muscles", size: 984 },
        { name: "physics is religion", size: 6410 },
        { name: "query and you get the answer", size: 2124 }
    ]
};

var width = innerWidth - 40,
    height = innerHeight - 40,
    color = d3.schemeCategory10,
    div = d3.select('body').append('div')
          .style('position','relative');

var treemap = d3.treemap()
      .size([width,height])
      .sticky(true)
//      .value(function(d){return d.size;});

var node = div.datum(tree).selectAll('.node')
        .data(treemap.nodes)
        .enter()
        .append("div")
        .attr("class", "node")
        .call(position)
        .style("background-color", function(d) {
            return d.name == 'tree' ? '#fff' : color(d.name); })
        .append('div')
        .style("font-size", function(d) {
            // compute font size based on sqrt(area)
            return Math.max(20, 0.18*Math.sqrt(d.area))+'px'; })
        .text(function(d) { return d.children ? null : d.name; });

function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}

</script>
