<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>D3 practice</title>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
</head>
<body>
  {% if url=='treeclustertransition' %}
  <form>
    <label><input type="radio" name="mode" value="cluster" checked> Dendrogram</label>
    <label><input type="radio" name="mode" value="tree"> Tree</label>
  </form>
  <svg width="960" height="2400"></svg>
  {% endif %}

  {% if url=='radialtree' %}
  <svg width="960" height="1060"></svg>
  {% endif %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/'+url+'.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/'+url+'.css') }}">


</body>
</html>
